<div>
  <h2>Map Keys to Pads</h2>
  <div>
    <label for="pad">Select Pad:</label>
    <select id="pad" (change)="selectPad($event.target.value)">
      <option *ngFor="let pad of [1,2,3,4,5,6,7,8,9]; let i = index" [value]="i">
        Pad {{ i + 1 }}
      </option>
    </select>
  </div>
  <div>
    <label for="key">Press a Key:</label>
    <input id="key" type="text" [(ngModel)]="currentKey" placeholder="Type a key" maxlength="1" />
  </div>
  <button (click)="mapKeyToPad()">Map Key</button>
</div>